<div class="user">
    <p>
        <span class="name">Trip</span>
        <span>joined</span>
        <span class="date">5 minutes ago</span>
    </p>
    <p>
        <span>from</span>
        <span class="location">Palo Alto, CA</span>
    </p>
</div>

<div class="user">
    <p>
        <span class="name">Riley</span>
        <span>joined</span>
        <span class="date">16 minutes ago</span>
    </p>
    <p>
        <span>from</span>
        <span class="location">Cowboytown, TX</span>
    </p>
</div>

<div class="user">
    <p>
        <span class="name">RISCFuture</span>
        <span>joined</span>
        <span class="date">34 minutes ago</span>
    </p>
    <p>
        <span>from</span>
        <span class="location">Across the Street, CA</span>
    </p>
</div>
