<html>
    <head>
        <style type="text/css">
            body {
              width: 900px;
            }

            #content {
              width: 600px;
              min-height: 500px;
              float: left;
              border: 5px solid blue;
            }

            #search, #login_box, #new_users {
              width: 250px;
              float: right;
              margin: 10px 0;
            }

            #search {
              border: 5px solid orange;
            }
            #login_box {
              border: 5px solid green;
            }
            #new_users {
              border: 5px solid purple;
            }
        </style>
    </head>

    <body>
        <div id="content">
            <% if roles['content'] %>
            <!--# block name="pretend" -->
            Content is unavailable!
            <!--# endblock -->
            <!--# include virtual="/remote/?host=<%= roles['content'] %>:9501" stub="pretend" -->
            <% end %>
        </div>

        <div id="search">
            <% if roles['search'] %>
            <!--# block name="pretend" -->
            Login Box is unavailable!
            <!--# endblock -->
            <!--# include virtual="/remote/?host=<%= roles['search'] %>:9501" stub="pretend" -->
            <% end %>
        </div>

        <div id="login_box">
            <% if roles['login_box'] %>
            <!--# block name="pretend" -->
            Login Box is unavailable!
            <!--# endblock -->
            <!--# include virtual="/remote/?host=<%= roles['login_box'] %>:9501" stub="pretend" -->
            <% end %>
        </div>

        <div id="new_users">
            <% if roles['new_users'] %>
            <!--# block name="pretend" -->
            New Users is unavailable!
            <!--# endblock -->
            <!--# include virtual="/remote/?host=<%= roles['new_users'] %>:9501" stub="pretend" -->
            <% end %>
        </div>
        
    </body>
</html>
