<html>
    <head>
        <style type="text/css">
            body {
              width: 900px;
            }

            #content {
              width: 600px;
              min-height: 500px;
              float: left;
              border: 5px solid blue;
            }

            #search, #login_box, #new_users {
              width: 250px;
              float: right;
              margin: 10px 0;
            }

            #search {
              border: 5px solid orange;
            }
            #login_box {
              border: 5px solid green;
            }
            #new_users {
              border: 5px solid purple;
            }
        </style>
    </head>

    <body>
        <div id="content">
            <% if roles['content'] %>
            <!--# block name="content" --><!--# endblock -->
            <!--# include virtual="/remote/<%= roles['content'] %>:9501" stub="content" -->
            <% end %>
        </div>

        <div id="search">
            <% if roles['search'] %>
            <!--# block name="search" --><!--# endblock -->
            <!--# include virtual="/remote/<%= roles['search'] %>:9501" stub="search" -->
            <% end %>
        </div>

        <div id="login_box">
            <% if roles['login_box'] %>
            <!--# block name="login_box" --><!--# endblock -->
            <!--# include virtual="/remote/<%= roles['login_box'] %>:9501" stub="login_box" -->
            <% end %>
        </div>

        <div id="new_users">
            <% if roles['new_users'] %>
            <!--# block name="new_users" --><!--# endblock -->
            <!--# include virtual="/remote/<%= roles['new_users'] %>:9501" stub="new_users" -->
            <% end %>
        </div>
        
    </body>
</html>
